
  .articleContainer {
	  display: grid;
	  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	  gap: 2rem;
	  background-color: blue;
	  padding: 0%;
  }
  
  article {
	  background-color: skyblue;
	  margin: auto;
  }
  
  
  .articleImage {
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  
  
	  max-width: 100%;
	  max-height: auto;
	  border-radius: 20px 20px 0px 0px;
  }