
body {
  font-family: 'Open Sans', sans-serif;
  color:whitesmoke;
  background-color:blue;
  overflow-x: hidden;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 36px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

li {
  float: left;
}
li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}
.active {
  background-color: #04AA6D;
}#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;}

#footer {
	width: 100%;
	height: 2.5rem;
	bottom: 0px;
	background-color: #000;
	color: #fff;
	font-size: 14px;
  position: absolute;
	font-weight: normal;
	text-align: center;
}

#footer a {
	display: inline-block;
	color: #fff;
	line-height: 2.5rem;
	vertical-align: middle;
}